/*
Esquema de cores modern
*/

/* funções com as cores do estilo */
:root {
    --blue: #71CDFE;
    --navy-blue: #1B232E;
    --gray: #474C52;
    --light-gray: #F3F4F8;
    --ice-gray: #798F9D;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--gray);
}