/*
Esquema de cores modern
*/

/* funções com as cores do estilo */
:root {
    --blue: #71CDFE;
    --navy-blue: #1B232E;
    --gray: #474C52;
    --light-gray: #F3F4F8;
    --ice-gray: #798F9D;
}

body {
    background-color: var(--gray);
    width: 1200px;
}

.header__menu {
    width: 900px;
    height: 50px;
    margin: 50px auto;
    background-color: var(--navy-blue);
}