/*
Esquema de cores modern
*/

/* funções com as cores do estilo */
:root {
    --blue: #71CDFE;
    --navy-blue: #1B232E;
    --gray: #474C52;
    --light-gray: #F3F4F8;
    --ice-gray: #798F9D;
}

body {
    background-color: var(--gray);
    
}

/* Configuração do menu */
.header__menu {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
    text-align: center;
}

.header__menu a {
    color: var(--ice-gray);
    text-decoration: none;
    padding: 0 30px;
    font-size: 1.5em;
    line-height: 28px;
    margin: 0 16px;
}

.header__menu a:hover {
    color: var(--blue);
    transition:  color 700ms;
}

/* Configuração titulo sobre */

.about h1 {
    margin: 30px auto;
    font-size: 2em;
    color: var(--blue);
    text-align: center;
}

.profile__card {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}

.profile__card img {
    width: 300px;
    border-radius: 15px;
    margin: 30px auto;
    border: 3px solid var(--light-gray);
}